{
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
	"parserOptions": {
		"ecmaVersion": 2017,
		"sourceType": "module",
		"jsx": true,
		"ecmaFeatures": {
			"experimentalObjectRestSpread": true
		}
	},
  "extends": "eslint:recommended",
  "rules": {
    "no-console": "warn",
    "no-eval": "error",
    "semi": "warn",
    "eqeqeq": "warn",
    "max-len": ["warn", { "code": 120 }],
    "no-tabs": "warn",
    "curly": "warn"
  }
}