npm-debug.log
transcript
node_modules
work
.eslintrc.json
.tern-project
*.sqlite-journal
src/db/resources/configuration.json
*.svg
*.html
*.project
*.pdf
*.cf
*.o
*.out
*.vcd
Makefile
python_modules
package-lock.json
*.pyc
vunit_out
*.gdca
*.gcno
/obj_dir
*.info
*.pb
xsim.dir
/bin/example/*.md
/bin/example/doc/*md
/bin/example/doc/*svg
/src/projectManager/*.json
