#teroshdl h1,#teroshdl h2,#teroshdl h3,#teroshdl table, #teroshdl svg {margin-left:5%;}
div.templateTerosHDL { background-color: white;position:absolute; }
#teroshdl td,#teroshdl th,#teroshdl h1,#teroshdl h2,#teroshdl h3 {color: black;}
#teroshdl h1,#teroshdl h2 {font-weight:bold;}
#teroshdl tr:hover {background-color: #ddd;}
#teroshdl td, #teroshdl th {
  border: 1px solid grey
}
#teroshdl p {color:black;}
#teroshdl p {margin-left:5%;}
#teroshdl th { background-color: #ff99ff;}
#teroshdl tr:nth-child(even){background-color: #ff99ff;}
